* {
    padding: 0;
    margin: 0;

}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #FAF9F6 !important;
    ;
}

/*--------navbar-----------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    color: rgba(250, 248, 248, 0.989);

}

.navbar {
    background-image: white;
    padding: 0 !important;
    background-color: #FAF9F6;
}

.navbar-brand {
    padding: 20px;
    font-family: 'Lora', serif;
}

.navbar-nav li {
    padding: 10px;
}

.logo {
    padding-left: 20px;
    margin-top: 0;
    font-size: 20px;
}

.navbar-nav li a {
    color: black;
    font-weight: 400;
    float: right;
    text-align: left;
}

/*--------banner-----------*/
.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: -2;
    background-color: #FAF9F6;
    font-family: 'Lora', serif;
    animation: fadeIn 8s;
    opacity: 0.5;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

.image {
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*--------banner-----------*/
.wrapper {
    background-color: #FAF9F6;
    padding: 30px;
    margin-bottom: 60px;
    position: relative;

}

.title::before {
    content: '';
    background-color: rgb(96, 96, 110);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background-color: rgb(96, 96, 110);
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.info {
    margin-top: 60px;
    margin-bottom: 0px;
}
.box{
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.create-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 125px;
  }

.foot-logo {
    padding-left: 80px;
}

.title {
    margin-bottom: 80px;
}

.btn {
    background: #717070 !important;
    top: 500px;
    padding: 1.5rem 3rem;
    display: inline-block;
    text-transform: none;
    color: #fff !important;
    transition: all 0.5s;

}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


.wrapper-btn {
    margin-bottom: 200px;
}